[user]
	email = roman.gushchin@linux.dev
	name = Roman Gushchin
[core]
	editor = emacs -nw
	abbrev = 12
[alias]
	ref = show -s --format=\"%h (\\\"%s\\\")\"
	my = log --oneline --author=\"Roman Gushchin\"
[sendemail]
	aliasesFile = ~/.mutt_aliases
	aliasFileType = mutt
	smtpEncryption = ssl
	smtpServer = smtp.migadu.com
	smtpServerPort = 465
	smtpUser = roman.gushchin@linux.dev
[credential]
	helper = store
